.card-bg--blurred {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/background-jpg/layer-1@3x.jpg');
    background-size: 141%;
    background-repeat: no-repeat;
    background-position: 64% 66%;
    position: absolute;
    filter: blur(6px);
    -webkit-box-shadow: 0px -1px 6px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -1px 6px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -1px 6px 5px rgba(0, 0, 0, 0.2);

    @media (min-width: $tablet) and (max-width: $tablet-landscape) {
        background-size: 380%;
        background-repeat: no-repeat;
        background-position: 54% 55%;
    }

    @media (min-width: $phone) and (max-width: $tablet) {
        background-size: 500%;
        background-repeat: no-repeat;
        background-position: 60.5% 55%;
    }

    @media (max-width: $phone) {
        background-size: 586%;
        background-repeat: no-repeat;
        background-position: 58% 56%;
    }
}